body{
    margin:0;
    padding:0;
    background: url("york.jpg");
    width:100%;
    height:100vh;
}


.wrapper{
    display:flex;
    align-items: center;
    justify-content: center;
    height:60vh;
    
}
.container{
    width:440px;
    height:100px;
}
.form-group{
    border: 1px solid #b7275c;
    border-radius: 30px 10px 30px 10px;
    padding:10px;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}
input{
    width:400px;
    height:30px;
    position: relative;
    left:8px;
}
label{
    position: relative;
    left:8px;
}
textarea{
    width:400px;
    height:30px;
    position: relative;
    left:8px;
}
.nav-item{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    position:relative;
    bottom:10px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #777;
}
.nav-container nav ul li{
    display: inline-block;
}

.nav-container nav ul li a{
    position:relative;
    right:20px;
}

a{
    text-decoration: none;
    padding:20px;
    color:whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 700;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
}

.btn-btn-submit{
    background: color #333;;
    font-size: 10px;
    position:relative;
    left:350px;
    border:1px solid #333;
    transition: 350ms ease-in-out all;

    
}
.btn-btn-submit:hover{
  background-color: #888;
  font-size: 15px;
}
.card{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}
h2{
    position:relative;
    bottom:120px;
    left:300px;
}
.card-body{
    background-color: #333;
    width:400px;
    text-align: center;
    border: 1px solid orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.search-btn{
    position:relative;
    left:400px;
    bottom:5px;
}
h3{
    position: relative;
    top:206px;
    text-align: center;
    color:#111;
    background-color: #333;
    padding:10px;
}
span{
    color:red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}